/* @import "jquery.owlcarousel.css"; */
html {
  scroll-behavior: smooth;
}
body, input, textarea, select {
    font-family: 'Source Sans Pro' !important;
    font-weight: 300;
    color: #5d5d5d;
   
}

body {
    background: #fff;
    background-image: none;
    overflow-x:hidden;
}



.site-featured-image {
  margin-top:80px;
  position:relative;
}

.entry-header h1.entry-title {
      font-size: 1.2rem;

}
#header, .site-header {
    position: relative;
    background: #ffffff;
    border-bottom: solid 1px #ccc;
    padding: 3em 0 4em 0;
    text-align: center;
}
/*
#header h1 {
    position: absolute;
    top: 40px;
    margin-top: -0.65em;
    font-size: 1.5em;
    color: #fff;
}*/

#header h1 {
    position: absolute;
    top: 40px;
    margin-left: 20px;
    TEXT-ALIGN: center;
    /* margin-top: -0.65em; */
    font-size: 2.5em;
    color: #fff;
}

.logo img {
    max-height: 70px;
}


.hidden{
    display:none !important;
}


#show-publications section.box header {
  height: 100px;
}
section.box header {
    height: 50px;
}

section.box p {
    height: 180px;
}


#nav {
    position: absolute;
    right: 2em;
    top: 10px;
}


#nav > div.menu > ul > li.current_page_item > a,
#nav ul > li.current_page_item > a {
    background: #034876;
    color: #fff !important;
    font-weight: 700;
}

#nav > div.menu > ul > li > a,
#nav ul > li > a {
    border-radius: 0px !important;
    color: #5d5d5d;
    font-style: normal;
    text-decoration: none;
    padding: 0.6em 1.2em 0.6em 1.2em;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    outline: 0;
}

#banner {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    padding: 8em 0;
    margin: 0em -11% 0 -11% !important;
}

#banner header {
    background-color: rgba(34, 30, 31, 0);
    display: inline-block;
    padding: 2.5em 5em;
    border-radius: 5px;
}

#banner header h2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 300;
    font-size: 2.5em;
    margin: 0 0 0.65em 0;
}

#nav div.menu > ul > li,
#nav ul > li {
    font-style: normal;
}
 ul.dropotron  li {
    font-style: normal;
}
ul.dropotron li a {
    padding: 0em 0.2em 0em 0.2em;
    min-width:100%;
}

#nav > div.menu > ul,
#nav ul {
    margin: 0;
}


#nav > div.menu > ul > li,
#nav ul > li {
    display: inline-block;
    font-style: italic;
    margin: 0 0.35em 0 0.35em;
}

#nav > div.menu > ul > li > a,
#nav div.menu > ul > li > a {
    border-radius: 5px;
    color: #5d5d5d;
    font-style: normal;
    text-decoration: none;
    padding: 0.6em 1.2em 0.6em 1.2em;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    outline: 0;
}

.btn-register {
    background-color: orangered !important;
    margin-bottom: 40px !important;
    font-weight: 600 !important;
    color: #fff !important;
}

.btn-register:hover, .btn-register:active {
    background-color: #C63600;
}

ul.dates .date strong {
    color: orangered;
    font-size: 1.75em;
    padding-top: 0.15em;
}
.icon.featured {
    position: relative;
    display: inline-block;
    background-color: #034876;
    width: 9em;
    padding: 1.75em 0 0.75em 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 0 4.5em 0;
    cursor: default;
}

.item-link {
  cursor:pointer;
}

.item-link:hover {
  cursor:pointer;
  background:#333;
}

div.wpforms-container-full .wpforms-form button[type=submit], button.wpforms-submit{
   background-color: orangered !important;
   color:#fff;
}

#navPanel a{
  text-decoration:none;
}
.icon.featured:after {
    content: '';
    position: absolute;
    bottom: -1.95em;
    left: 0;
    border-top: solid 2em #034876;
    border-left: solid 4.5em transparent;
    border-right: solid 4.5em transparent;
}

#intro a:hover, #intro a:link, #intro a:active  {
    text-decoration: none;
}

#banner header p {
    color: #034876;
    padding: 0;
    font-style: normal;
    line-height: 2.5em !important;
    margin: 0;
    font-size: 1.5em;
}


#work {
    position: relative;
    background: #252122;
    padding: 4em 0 4em 0;
}

#work h2, #work h3, #work h4, #work h5, #work h6, #work strong, #work b {
    color: #fff;
}

#work .h2,#work  h2 {
    font-size: 1.5rem;
}
#work p {
    color:#ddd;
}
#work header.major {
    position: relative;
    text-align: center;
    border-top: solid 0px #ccc;
    top: 2em;
    margin: 0 0 3em 0;
}


#work header.major h2 {
    background: #252122;
    font-size: 2rem;
}

header.major h2 {
    font-size:2rem;
    text-transform: uppercase;
}

#show-data2 p {
    margin-bottom:0.8em;
}

#work a {
    color: #c5c4c4;
}
ul.dates {
    list-style: none;
    padding-left: 0;
  
    padding-bottom: 40px;
  
}

ul.dates li {
    position: relative;
    border-top: solid 1px #333;
    padding: 1.3em 0 1.3em 6.75em;
}


#footer {
    background:#252122;
    position: relative;
    color: #858484;
    padding: 4em 0;
}
.close:hover, .close:active, .close:link {
   background:#fff !important;
    color: #000;
  border:none !important;
  box-shadow:none !important;
  
}

footer {
    margin: 0 0 0 0;
}
/**************scroll***************/
/* width */
/* ::-webkit-scrollbar {
    width: 5px;
  } */
  
  /* Track */
 /*  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
    */
  /* Handle */
/*   ::-webkit-scrollbar-thumb {
    background: #888; 
  } */
  
  /* Handle on hover */
 /*  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */

  .latest-blog-posts {
    position: relative;
  }
  .latest-blog-posts .container-fluid {
      padding: 0px;
      position: relative;
      max-width: 1140px;
      overflow:hidden;
    }
    .latest-blog-posts .thumbnail {
      margin: 0 15px;
    }
    .latest-blog-posts .customNavigation {
      transform: translateY(-50%);
      top: calc(50% - 37px);
      position: absolute;
      width: 100%;
      left: 0;
    }
    .owl-item {
      float: left;
  }
     .latest-blog-posts .customNavigation > span {
      transform: translateY(-50%);
      top: 50%;
      position: absolute;
    }
    .latest-blog-posts .pager-left {
      left: calc(0% + 15px);
    }
    .latest-blog-posts .pager-right {
      right: calc(0% + 15px);
    }
    
   .latest-blog-posts .next,
    .latest-blog-posts .prev {
      font-size: 28px;
      color: #ccc;
    }
  
  
/************slide************/
.slider {
	/*max-height: 500px;  approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

small {
    font-size: 10px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}

div.wpforms-container-full .wpforms-form input.wpforms-field-medium, div.wpforms-container-full .wpforms-form select.wpforms-field-medium, div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important;
}


   
#navPanel {
   
    background-color: rgba(0,0,0,1);
    color: #858484;
    background-image: url(images/bg.png);
    box-shadow: inset -3px 0px 5px 0px rgba(0, 0, 0, 0.35);

}

.post-thumbnail img {
  max-width:100%;
  height:auto;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


 .dates .date {
  width: 100px;
  display: block;
  position: relative;
  top: 0;
  background-color: #034876;
  height: 3.5em;
  text-align: center;
  color: #fff;
  line-height: 1em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 0.5em 0.75em 0 1em;
}

.card {
  
  border-radius: 0 !important;
  background:rgba(255,255,255,0.02) !important;
}
.card-header {
  padding: 0 !important;
  margin-bottom: 0;
  color: inherit;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
h5.dates {
  cursor:pointer;
}

h5.dates:hover{
  background-color: rgba(255,255,255,.01);
}
.dates .ws.date {
  width:120px;
  border:none;
  }

  .truncate {
    width: 950px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ws.title {
    color:rgba(247, 242, 242,1);
    position: absolute;
    left: 20px;
    top: 0px;
    border:none;
  }

    
.h3, h3 {
  font-size: 1.5rem !important;
}
.workshop-date, .workshop-instructor, .workshop-content{
color:#ddd;
line-height:1rem;
}

.workshop-content{
  height:100px;
  overflow-y:auto;
}


.workshop-button{
  color:#fff;
  }
@media only screen and (max-width: 980px) {
  #intro {
    padding: 0em 0 0 0;
}
#intro .row > div:last-child{
    margin-bottom:60px;
}
  
  header > h2, header > h3 {
    font-size: 1.25em;
}
  
    #header h1 {
        position: absolute;
        top: 40px;
        margin-top: -0.65em;
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }

    #work {
    min-height:950px;
    padding-bottom:40px;
    }

    #workshoplist{
        height:200px;
        overflow-y:auto;
    }
    
.truncate {
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


}
@media screen and (max-width: 736px){
.row > .col-12-small {
    width: 100%;
    min-width: 100%;
  
}

.truncate {
  width: 420px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  
  #intro section {
    padding: 40px 0 0 0;
    margin: 0px 0 0 0;
}


}



@media screen and (max-width: 320px){

  #work {
    min-height: 950px;
    padding-bottom: 40px;
}
  
  #workshoplist {
    height: 250px;
    /* overflow-y: auto; */
}


.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  }